body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(
            to right,
            rgb(152, 5, 112) 0%,
            rgb(162, 23, 23) 100%
    );

    text-align: center;
}

.page-title {
    background: linear-gradient(-45deg, rgb(255, 255, 255), rgb(152, 5, 112));
    background-size: 300%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 5vw;
    letter-spacing: -5px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 10s ease-in-out infinite;
    -moz-animation: animated_text 10s ease-in-out infinite;
    -webkit-animation: animated_text 10s ease-in-out infinite;
}

@keyframes animated_text {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}